.home-section-heading {
  color:var(--pri);
  text-align:center;
  font-size:2.8rem;
  font-weight:400;
}
.shadow {
  background: rgba(0,0,0,0.2);
  padding:1rem;
}
.benefit-heading {
  text-align:center;
  margin:0.5rem 0rem;
}
.hero-container {
  position:relative;
}
.question {
  background-color:white;
  padding:0.5rem;
  margin:0.5rem;
  width:70%;
  margin:1rem auto ;

}
.left {
  left: 2rem;
}
.right {
  right: 2rem;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-wrapper {
  display:flex;
  align-items:center;

  padding:0;
  margin-bottom:2rem;
  width:100%;
  position:relative;
}
.wholesale-wrapper {
  width:100%;
  position:relative;
  margin-bottom:2rem;
}
.benefits-wrapper {

  width:100%;
  margin-bottom:2rem;
  opacity:0.9;
}
.faq-wrapper {
  background-color: var(--ter2);
  width:100%;
  margin-bottom:2rem;
  padding: 2rem 2rem;
  opacity:0.9;
}
.contact-wrapper {
  width:100%;
  padding:2rem 2rem;
  margin-bottom:2rem;
  border-radius:3rem;
  opacity:0.9;
}
.banner-image {
  width:50%;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.card-wrapper {
  display:flex;
  justify-content:space-between;
  width:80%;
  margin:auto;
}
.card {
  display:flex;
  flex-direction:column;
  position:relative;
  width:30%;
  background-color:var(--ter2);
  border-radius:1.5rem
}
.card-text-wrap {
  width:90%;
  margin:auto;
}
.card-image {
  width:90%;
  aspect-ratio:1/1;
  margin:auto;
  border-radius:1.5rem 1.5rem 0 0;
}
.card-figure {
  position:relative;
  width:100%;
  aspect-ratio:1/1;
  margin:0;
}

/* hero */
.text-section{
  width:35%;
  z-index:12000;
  position:absolute;
  animation-name:slideInright;
  animation-duration:3s;
  top:50%;
  transform:translateY(-50%);
  
}
.hero-heading {
  font-size:2rem;
  margin:1rem 0rem 0rem 0rem;
  font-weight:600rem;
}
.image-section{
  width:100%
}
.hero-image-wrap {
  margin:0;
  position:relative;
  aspect-ratio:16/9;
  padding:0;
  width:100%;
}

@media(max-width:767px){
  .hero-heading {
    font-size:1.6rem;

  }
  .hero-sub-heading {
    font-size:1.2rem;
    margin:0.5rem 0rem 0rem 0rem;
  }
  .hero-text {
    margin:0.25rem 0rem 0rem 0rem;
  }
  .card-wrapper {
    padding:0;
    display:block;
  }
  .card {
    width:60%;
    margin:auto;
    margin-bottom:1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
@media(max-width:370px){
  .text-section {
    width:40%
  }
  .hero-heading {
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0rem 0rem;
    
  }
  .hero-sub-heading {
    font-size:1.1rem;
    margin:0.25rem 0rem 0rem 0rem;
  }
  .hero-text {
    margin:0.125rem 0rem 0rem 0rem;
  }
}
