.footer { 
    width:100%;
    transform:translateY(3.25rem);
    height: 8rem;
    /* background:linear-gradient(0deg,var(--pri),var(--sec)); */
    background-color:var(--pri);
    padding:0.5rem 2rem;
}
.footer-heading {
    font-size: 1.5rem;
    color: white;
}
.footer-nav {
    display:flex;
    justify-content:space-around;
}
.footer-link {
    color:white;
}
.footer-link:hover{
  cursor:pointer;
  text-shadow: 1px 1px 1px var(--ter2), -1px -1px 1px var(--ter2), 1px -1px 1px var(--ter2),-1px 1px 1px var(--ter2);
}
