/* 
colour scheme - turkey tail */
.list-wrapper {
  padding:0;
}
.faq-wrapper {
  width:100%;
  margin-bottom:2rem;
  opacity:0.9;
}
.question {
  background-color:white;
  padding:0.5rem;

}
.sale-container {
  margin-top:1rem;
}
.timer-wrapper {
 display:flex;
 justify-content:center;
 width:50%;
 margin:auto;
 text-align:center;
}
.timer-divider {
  display: flex;
  flex-direction:column;
  width:3.25rem;
}
.timer-header {
  font-size: 0.8rem;
  color:var(--pri);
  font-weight:700;
  transform:translateX(-0.25rem)
}
.timer-heading {
  text-align:center;
  margin-top:1rem;
  margin-bottom:0.5rem;
}
.timer-interval-wrapper {
  display:flex;
  align-items:center;
}
.timer-interval {
  border:1px solid var(--pri);
  font-size:2rem;
  line-height:2rem;
  padding: 0.25rem;
  font-weight:700;
  display:inline-block;
  width:2.75rem;
}
.timer-colon {
  display:inline-block;
  padding:0.25rem;
  transform:translateX(-0.125rem);
  line-height:2rem;
  font-size:2rem;
  font-weight:700;
}
.days {
  color:var(--pri)
}
.hours {
  color: var(--sec)
}
.minutes {
  color: var(--ter0)
}
@keyframes colorChange {
  from {
    color: var(--pri)
  }
  to {
    color: var(--ter1)
  }
}
.color-animate {
  animation:colorChange 1s linear infinite
}
#progressBar{
  width:60vw;
  margin:auto;
  margin-top:2rem;
  display:flex;
}
.progress-bar-wrap {
  position:relative;
  width:33%;
  transform:translateX(50%);
}
.progress-bar-name {
  position:absolute;
  bottom:-2rem;
  left:0;
  transform:translateX(-50%);
  font-size:0.8rem
}
.progress-bar-line {
  display:block;
  border:3px solid 	#D3D3D3;
  height:3px;
  line-height:3px;
  width:60%;
  margin:auto;
  transform:translateY(-1.5px)
}
.progress-bar-phase {
  left:0;
  position:absolute;
  transform:translateX(-50%);
  top:-1rem;
  border:0;
  background-color:inherit;
  padding:0;
  font-family: var(--dosis-font);
  font-size:1rem;
  color:var(--pri);
  cursor:pointer;
}
.progress-bar-phase-number {
  width:2rem;
  height:2rem;
  line-height:2rem;
  border: 1px solid 	#D3D3D3;
  border-radius:50%;
  text-align:center;
  display:inline-block;
  background-color:	#D3D3D3;
}

.green{
  border:3px solid #17B169;
}
.add-relative {
  position:relative;
}
.add-vertical-margin {
  margin: 1rem 0;
}
.order-sub-wrapper {
  margin-bottom:1rem;
}
.checkout-stock-message {
  margin:auto;
  }
  .checkout-stock-lines {
    color:red;
    font-size:1rem;
    display:block;
    text-align:center;
  
  }
  .checkout-delete-stock-btn {
    background-color:var(--pri);
    color:var(--ter2);
    display:block;
    margin:auto;
    margin-bottom:0.5rem;
    font-size:1rem;
    padding:0.5rem 0.5rem;
  }
  .cta-sec-btn {
    background-color:var(--pri);
    color:var(--ter2);
    display:inline-block;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    font-size:1rem;
    padding:0.5rem 0.5rem;
  }
.cart-out-of-stock {
  border:1px solid red;
}
.items-unavailable-cart {
  color:red;
}
.button-disabled {
  pointer-events:none;
  opacity:0.7;
}
.size-button-wrapper {
  position:relative;
  margin:0;
  padding:0;
  display:inline-block;
}
.new {
  top: 25%;
  position: absolute;
  right: 15%;
  background-color: var(--sec);
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--ter2);
  font-size: 1rem;
}
.size-btn-message {
  position:absolute;
  display:block;
  color:red;
  left:50%;
  top:50%;
  transform:translate(-50%,60%);
  width:100%;
  text-align:center;
}
.coming-soon-message {
  position:absolute;
  display:block;
  color:var(--sec);
  left:50%;
  top:50%;
  transform:translate(-50%,60%);
  width:100%;
  text-align:center;
}
.stock-error {
  color:red;
}
.loader {
  border-top: 6px solid var(--pri);
  border-right: 6px solid var(--pri);
  border-bottom: 6px solid var(--pri);
  border-radius:50%;
  width:100px;
  height:100px;
  position:fixed;
  top:50vh;
  left:50vw;
  transform:translate(-50%,-50%);
  z-index:100000000000000;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.mini-loader {

  border-top: 4px solid var(--pri);
  border-right: 4px solid var(--pri);
  border-bottom: 4px solid var(--pri);
  border-radius: 50%;
  width:50px;
  height:50px;
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-animation:minispin 2s linear infinite;
  -moz-animation:minispin 2s linear infinite;
  animation:minispin 2s linear infinite;

}
@-moz-keyframes spin { 
  100% { -moz-transform: translate(-50%,-50%) rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: translate(-50%,-50%) rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:translate(-50%,-50%) rotate(360deg); 
  } 
}
@-moz-keyframes minispin { 
  100% { -moz-transform: translate(-50%,-50%) rotate(-360deg); } 
}
@-webkit-keyframes minispin { 
  100% { -webkit-transform: translate(-50%,-50%) rotate(-360deg); } 
}
@keyframes minispin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:translate(-50%,-50%) rotate(-360deg); 
  } 
}
#dropdown-selected {
  border:1px solid var(--pri);
  height:2rem;
  line-height:2rem;
  text-align:center;
}
.dropdown-container {
  width:25%;
  background-color: white;
  position:relative;
}
.dropdown-wrapper {
  display: none;
  border:1px solid var(--pri);
  margin:0;
  padding:0;
  position:absolute;
  background:white;
  width:100%;
}
.dropdown-open {
  display:block
}
.dropdown-elements {
  border: 1px solid var(--pri);
  text-align:center;
}
.total-text {
  text-align:center;
}
.product-list {
  display:flex;
  justify-content: space-around;
}

.cart-btn{
  border:none;
  width:32px;
  height:32px;
  padding:0;
  background:none;
  position:relative;
  cursor: pointer;
}
.plp-image-wrapper {
  position:relative;
  width:100%;
  aspect-ratio: 1/1;
  margin:auto;
}
.cart-left {
  margin-right:2rem;
  position:relative;
  width:60%;
  aspect-ratio:1/1;
  margin:auto;
}
.cart-product-name {
  margin: 0;
  font-size:1.2rem;
  font-weight:400;
}
.cart-summary {
  position:absolute;
  right:2rem;
}
.cart-container {
  width:60%;
  margin:auto;
}
.cart-wrapper {
  display:flex;
  margin-bottom:2rem;
  align-items:center;
}
.error-text {
  color:red;
}
.account-list-element {
  font-size:2rem;
  color:var(--sec);
  font-weight:600;
}
.link {
  color:var(--sec);
  font-weight:600;
}
.link:hover{
  cursor:pointer;
  text-shadow: 1px 1px 1px var(--sec), -1px -1px 1px var(--sec), 1px -1px 1px var(--sec),-1px 1px 1px var(--sec);
  color:var(--ter2);
}
.account-list-element:hover {
  color:var(--ter2);
  text-shadow: 2px 2px 1px var(--sec), -2px -2px 1px var(--sec), 2px -2px 1px var(--sec),-2px 2px 1px var(--sec);
}
.center {
  text-align:center;
}
#productImage {
  z-index:-1;
  width:100%;
  aspect-ratio: 350/250;
}
.cross-link{
  color:var(--sec);

}
.cross-link:hover{
  color:var(--ter2);
  text-shadow: 2px 2px 1px var(--sec), -2px -2px 1px var(--sec), 2px -2px 1px var(--sec),-2px 2px 1px var(--sec);
}
.select-custom {
  width: 5rem;
  font-size:1rem;
  line-height:1.5rem;
  margin:1rem;
}

.select-active {
  background-color:var(--sec);
  color:var(--ter2);
  border:3px solid var(--pri);
}
.form-input {
  line-height:1.5rem;
  font-size:1rem;
  width:5rem;
  margin:1rem;
}
.product {
  width:25%;
  position:relative;
}
.product-heading {
  text-align:center;
}
.product-container {
  margin:0rem auto;
  display:flex;
  align-items:flex-start;
  width:80%;
  flex-wrap:no-wrap;
  padding-top:3rem;
}
.social-media-bar {
  z-index:1;
  position:absolute;
  bottom:-2rem;
  left:50%;
  transform:translateX(-50%)
}

.social-media-icon {
  width:1.5rem;
  margin:0.25rem;
}
.image-section {
  height:auto;
  position:relative;
  margin:0rem 1rem;
  width:100%;
  aspect-ratio: 1/1;
  flex:60;
}
.text-section {
  height:auto;
  position:relative;
  margin:0rem 1rem;
  width:100%;
  flex:40;
}
.product-image {
  margin:auto;

}
.product-name {
  font-size:1.2rem;
  font-weight:500;
  text-align:center;
  margin-bottom:1.5rem;
}
.product-price {
  text-align:center;
}
.total-products-text {
  text-align:right;
  font-size:0.8rem;
}
.main {
  position:relative;
  top:4.75rem;
  min-height:calc(100vh - 11.25rem);
}
.static-container {
  margin:0 2rem;
}
.cross-container {
  width:1rem;
  height:1rem;
  position:relative;
  transform:rotate(0deg);
  margin:auto;
  transition:0.25s;
}
.cross-transform {
  transform:rotate(45deg);
}
.cross-container:before, .cross-container:after {
  content:"";
  position:absolute;
  background-color:var(--pri);
  z-index:-1;
}
.cross-container:before {
  left:50%;
  width:0.2rem;
  height:1rem;
  margin-left:-0.1rem;
}
.cross-container:after {
  top:50%;
  height:0.2rem;
  width:1rem;
  margin-top:-0.1rem;
}
.display {
  display: block !important;
}
* {

  box-sizing:border-box;
}
.static-container {
  margin: 2rem;
}
.static-para {
  color: var(--pri);
  margin: 2rem;
}
.bullet-heading {
  margin-top:0;
  color:var(--pri);
  font-weight:400;
  font-size:1.2rem;
  flex:9;
}
.bullet-margin {
  margin-top:0;
  color:var(--pri);
}
.main-heading {
  font-size: 2.8rem;
  font-weight:400;
  color: var(--pri);
}
.sub-heading {
  color: var(--pri)
}
.sub-sub-heading {
  color: var(--pri)
}
.text {
  color:var(--pri)
}
.light {
  color: var(--ter2);
}
.dark {
  color: var(--pri)
}
.mush-bullet {
  display:inline-block;
  aspect-ratio: 1/1;
  width:1rem;
  height:1rem;
  margin-right:1rem;
  margin-top:0.4rem;
  position:absolute;
  left:-2rem;
  top:0.4rem;
}
.bullet-wrapper {
  position:relative;
  display:flex;
}
.bullet-para {
  display:inline-block;
  width:calc(100% - 1rem);
  margin:0.5rem;
  font-style:italic;
  color:var(--pri);
  display:none;
}
.bullet-para-list {
  display:block;
}
.bullet-heading {
  display:inline-block;
  margin:0.5rem;
  width:100%;
}
/* @media(min-width:320px){
  .main-heading {
    font-size:24px;
    /* text-shadow: 1px 1px 1px var(--pri), -1px -1px 1px var(--pri), 1px -1px 1px var(--pri),-1px 1px 1px var(--pri); */
    
  /* }
} */
/* @media(min-width:471px){
  .main-heading {
    font-size:32px;
  }
}
@media(min-width:768px){
  .main-heading {
    font-size:40px;
  }
} */

/* @media(min-width:1600px){
  .main-heading {
    font-size:56px;
    font-weight: 400;
    text-shadow: 5px 5px 5px 5px #943201;
  } */
  /* .sub-heading {
    font-size: 38px;
    font-weight:400;
  }
  .sub-sub-heading {
    font-size:28px;
    font-weight:400;
  } */

/* } */
:root {
  --pri: #343434;
  --sec: #943201;
  --ter0: #ce9d41;
  --ter1: #edd29b;
  --ter2: #f4e6c3;

}
html,
body {
  padding: 0;
  margin: 0;
  color:var(--pri);
  font-family: var(--dosis-font)
  
}
h1,h2,h3 {
  font-family: var(--signika-font)
}

@media(min-width:768px){
  .hidden-desktop{
    display:none;
  }
  
}
@media(max-width:767px){
  .cart-left {
    width:80%;
    aspect-ratio:1/1;
    margin:auto;
    margin-bottom:1rem;
  }
  .hidden-mobile {
    display:none
  }
  .product-container {
    display:block;
  }
  #productImage {
    top:1rem;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.bannerContainer {
  width:100%;
}
.cta {
  color:var(--ter2);
  background-color:var(--sec);
  font-size:1rem;
  width:7.75rem;
  height:2.5rem;
  line-height:1rem;
  margin:0.25rem auto;
  display:table;
  text-transform:uppercase;
  padding:0;
}
.cta > a {
  width:7.75rem;
  height:2.5rem;
  display:table-cell;
  vertical-align:middle;
  transform:translate(-2px,-2px)
}
.left { 
  margin-left:0;
}
.cta:hover {
  background-color:var(--pri);
  cursor:pointer;
  transition:0.5s;
}
.carousel-container{
  width:80%;
  margin:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-slide-wrap{

  width:80%;
  margin:auto;
  overflow:hidden;
  position:relative;
  height: 500px;
}
.carousel-image-wrap{
  display:inline-block;
  white-space: nowrap;
  position:absolute;
  width: 100%;
  height:500px;
}
.image-wrap {
  position:relative;
  aspect-ratio: 70/45;
}
.carousel-button {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;

}
.carousel-left{
    border-right:1rem solid blue; 
  
}
.carousel-right {
  border-left: 1rem solid green;
}
html {
  font-size:12px
}
.order-sub-wrapper {
  background:#edd29b;
  margin:0;
  padding:1rem;
}
.order-sub-alt {
  background:#f4e6c3
}
@media(min-width:481px){
  html {
    font-size: 16px;
  }
  .cart-btn {
  
  left:1rem;
  }
  .cart-wrapper {
    display:grid;
    grid-template-columns:30% 70%;
  }
  .col-1 {
    grid-column-start:1
  }
  .col-2 {
    grid-column-start:2
  }
  .col-3{
    grid-column-start:3
  }
  .col-4{
    grid-column-start: 4;
  }
  .col-5 {
    grid-column-start:5
  }
  .cart-header {
    width:60%;
    margin:auto;
  
  }
  .cart-header-wrapper {
    display:grid;
    grid-template-columns:30% 28% 14% 14% 14%;
    margin:0;
    width:100%;
    padding:0;
  }
  .cart-header-element {
    font-weight:600;
    width:100%;
    text-align:center;
  
  
  }
  .cart-product-name {
    font-size:1rem;
    text-align:center;
  }
  .quantity-wrapper {
    margin:0rem 1rem;
    text-align:center;
  }
  .product-price {
    margin:0;
    text-align:center;
  }
  .cart-left { 
    grid-column-start:1;
  }
  .cart-right {
    display:grid;
    grid-column-start: 2;
    grid-template-columns:40% 20% 20% 20%;
  }
}
@media(min-width: 768px){
  html {
    font-size: 20px
  }
}
@media(max-width:1024px){
  .cart-header {
    display:none;
  }
  .loader {
    border-top: 5px solid var(--pri);
    border-right: 5px solid var(--pri);
    border-bottom: 5px solid var(--pri);
    width:70px;
    height:70px;
  }
  .mini-loader {
    border-top: 3px solid var(--pri);
    border-right: 3px solid var(--pri);
    border-bottom: 3px solid var(--pri);
    width:35px;
    height:35px;
  }
  .product {
    width:40%;
  }
  .fixed-mobile {
    overflow:hidden;
  }
  
  
  .cart-summary {
    position:sticky;
    text-align:center;
    margin-bottom:2rem;
    top:1rem;
    z-index:9000;
    background-color:white;
  }
}
@media(min-width: 1025px){
  
  html {
    font-size: 24px;
  }
}
@media(max-width: 767px){
  .product-list {
    display:block;
    padding:0;
  }
  .product{
    width:80%;
    margin:auto;

  }
  .cart-wrapper {
    display:block;
    text-align:center;
  }
}
@media(max-width:480px){

  .loader {
    border-top: 4px solid var(--pri);
    border-right: 4px solid var(--pri);
    border-bottom: 4px solid var(--pri);
    width:50px;
    height:50px;
  }
  .mini-loader {
    border-top: 3px solid var(--pri);
    border-right: 3px solid var(--pri);
    border-bottom: 3px solid var(--pri);
    width:25px;
    height:25px;
  }
}

.hidden {
  display: none
}